// MIXINS
@import "../../../utils/mixins";

// TOKENS
@import "../../../tokens/colors/colors.scss";
@import "../../../tokens/typography/typography.scss";
@import "../../../tokens/effects/effects.scss";
@import "../../../tokens/spacing/spacing.scss";

.title__matter.title__matter--related {
    font-size: $vox-font-size-xxs;
    font-weight: $vox-font-weight-regular;
    position: relative;
    padding-left: $vox-spacing-small;
    @include truncate(2)
}
.title__matter--related::before {
    content: " ";
    height: 10px;
    min-width: 9px;
    position: absolute;
    top: $vox-spacing-xxxs;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../../imgs/icon-related.svg);
    background-position: center center;
}
.highlight__news a {
    display: flex;
    gap: $vox-spacing-medium;
}
.highlight__news figure {
    max-width: 196px;
    min-width: 196px;
    height: 112px;
}
.highlight__news figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $vox-border-radius-medium;
}

@media (max-width: 991px) {
    .highlight__news figure {
        max-width: 162px;
        min-width: 162px;
        height: 93px;
    }
}
@media (max-width: 575px) {
    .highlight__related .row {
        gap: $vox-spacing-xs;
    }
    .highlight__news figure {
        max-width: 156px;
        min-width: 156px;
        height: 92px;
    }
}