// FONTES PRINCIPAIS
$vox-font-family-principal: "Roboto Condensed", sans-serif;
$vox-font-family-body: "Noto Serif", serif;

// FONT SIZE's
$vox-font-size-xxxs: 0.75rem;  // 12px
$vox-font-size-xxs: 1rem;      // 16px
$vox-font-size-xs: 1.25rem;    // 20px
$vox-font-size-small: 1.5rem;  // 24px
$vox-font-size-medium: 1.75rem;// 28px
$vox-font-size-large: 2rem;    // 32px
$vox-font-size-xl: 2.5rem;     // 40px 
$vox-font-size-xxl: 3rem;      // 48px
$vox-font-size-xxxl: 3.75rem;  // 60px
$vox-font-size-display: 4.5rem;// 72px

// FONT WEIGHT's
$vox-font-weight-light: 300;
$vox-font-weight-regular: 400;
$vox-font-weight-semibold: 600;
$vox-font-weight-bold: 700;

// FONT HEIGHT's
$vox-font-height-small: 1;    // 100%
$vox-font-height-medium: 1.2; // 120%
$vox-font-height-large: 1.5;  // 150%