// OPACITY
$vox-opacity-semi-opaque: 0.72;       // 72%
$vox-opacity-intense: 0.32;           // 32%
$vox-opacity-light: 0.16;             // 16%
$vox-opacity-semi-transparent: 0.08;  //  8%

// SHADOW
$vox-shadow-01: 0.25rem; // 4px
$vox-shadow-02: 0.5rem;  // 8px
$vox-shadow-03: 1rem;    // 16px

// BORDER RADIUS
$vox-border-radius-sharp: 0rem;     // 0px
$vox-border-radius-small: 0.25rem;  // 4px
$vox-border-radius-medium: 0.5rem;  // 8px
$vox-border-radius-large: 1rem;     // 16px
$vox-border-radius-circular: 50%;   // Rounded 
$vox-border-radius-pill: 31.25rem;  // 500px          

// BORDER WIDTH
$vox-border-width-none: 0rem;          // 0px
$vox-border-width-hairline: 0.0625rem; // 1px
$vox-border-width-thick: 0.125rem;     // 2px
$vox-border-width-heavy: 0.25rem;      // 4px